* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bebas Neue', cursive;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Quicksand';
}

.divider{
  width: 80%;
  margin-left: 190px;
}

h1 {
  font-family: oswald;
  font-size: 50px;
  line-height: 64px;
  color: #3D515D;
}

h2 {
  font-family: Bebas Neue;
  font-weight: 200;
  font-size: 46px;
  line-height: 54px;
  color: #3D515D;
}
h3 {
  font-family: Open Sans;
  font-size: 30px;
  line-height: 54px;
  color: #3D515D;
}

h4 {
  font-family: Bebas Neue;
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-family: Open Sans;
  font-weight: 200;
  font-size: 16px;
  color: #545454;
}

.section-p1 {
  padding: 40px 200px;
  position: relative;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
  background-color: #FFFCFC;
}

.container{
  position: relative;
}

.flex{
  display: flex;
  justify-content: center;
}

/* header */

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 160px;
  background: #534E4A;
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
  position: absolute;
  width: 1920px;
  height: 136px;
  border-radius: 7px;
}
.nav-bar{
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-bar li{
  list-style: none;
  margin: 0 20px;
  position: relative;
}

.nav-bar li a{
  font-family: 'Quicksand';
  text-decoration: none;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  color: #fffefe;
}

.login-btn {
  position: absolute;
  width: 129px;
  height: 60px;
  font-size: 30px;
  font-weight: 700;
  top: -28px;
  right: -550px;
  background: #D9D9D9;
  border-radius: 10px;
}


.left-col{
  position: absolute;
  width: 998px;
  height: 627px;
  left: 72px;
  top: 260px;
  background: #F0EAEA;
  border-radius: 20px;
  padding: 30px;
}

.left-col h2{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 76px;
  line-height: 24px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.left-col p{
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;
  padding-top: 50px;
}

.right-col{
  position: absolute;
  width: 800px;
  height: 605px;
  left: 1045px;
  top: 282px;
  background: url(/img/img1.png);
  opacity: 0.2;
}

.get-started-btn{
  padding: 10px;
  position: relative;
  justify-content: center;
  bottom: -110px;
  left: 43%;
  display: flex;
  align-items: center;
}

.get-started-btn img{
  padding-right: 5px;

}  

.content{
  background-color: #F4F4F4;
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.img-container img{
  width: 100%;
}

.login-container{
  padding: 25px 40px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08);
  border-radius: 78px;
  background-color: #FFFFFF;
  width: 788px;
  height: 700px;
  margin-top: 100px;
  margin-right: 20px;
}

.login-container .title h2{
  font-family: 'Poppins';
  margin-bottom: 40px;
  font-size: 28px;
}

.place-holder {
  width: 100%;
  display: flex;
  background-color: #ECECEC;
  box-sizing: border-box;
  padding: 20px 15px 10px 15px;
  margin-bottom: 10px;
  border-radius: 5px;
}

input[type="text"], input[type="password"] {
  width: 620px;
  height: 40px;
  padding-bottom: 30px;
  border: none;
  background-color: #ECECEC;
  
}

.place-holder .logo{
  padding-right: 15px;
  padding-left: 10px;
  padding-top: 8px;
}
.place-holder .logo img{
  height: 40px;
}

.place-holder .logo .key{
  height: 25px;
  margin-left: 8px;
  margin-top: 8px;
  padding-right: 5px;
}

.rem-pass{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.rem-pass .psw a{
  
  text-decoration: none;
}



.login-form button{
  color: #FFFFFF;
  font-size: 18px;
  margin-top: 50px;
  width: 100%;
  height: 50px;
  background: #6358DC;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.login-form button:hover{
  background: #453e9a;
}
.reg{
  margin-top: 40px;
}

.reg p{
  text-align: center;
}

.reg p a{
  text-decoration: none;
  color: #453e9a;
  font-weight: 500;
}

.reg p a:hover{
  color: #cf715e;
}

#topbar{
  padding: 10px 20px;
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

#topbar div{
  padding-right: 10px;
}

#topbar .searchbar{
  position: relative;
}

#topbar .searchbar input[type=text]{
  width: 765px;
  height: 80px;
  color: #ECECEC;
  font-family: 'Poppins';
  font-size: 30px;
  text-align: center;
  align-items: center center;
  background: #D8BEBE;
  border-radius: 20px;
  padding-left: 15px;
  padding-bottom: 0;
  
}

#topbar .searchbar img{
  position: absolute;
  left: 30px;
  top: 25px
}

#topbar .drpdwn-btn{
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid #222;
  border-radius: 12px;
}

#topbar .drpdwn-btn .dwn-icon{
  align-self: center;
}

.tab-bar{
  padding-bottom: 10px;
}

#main .course-details{
  display: flex;
  justify-content: space-between;
  background-color: #E0E0E0;
  border-radius: 15px;
  margin-bottom: 15px;
}

.course-details .thum{
  width: 1;
}

.course-details .thum img{
  width: 100px;
  padding-left: 20px;
}

.course-details .title{
  min-width: 550px;
}

.course-details h3{
  font-weight: 400;
  font-size: 32px;
  line-height: 51px;
}

.course-details .icon-set{
  display: flex;
}

.course-details .icon-set img {
  width: 50px;
  height: 50px;
  margin-top: 15px;
}

.course-details .icon-set p {
  display: inline;
  padding-left: 10px;
  align-self: center;
}

.view-course{
  height: 50px;
  color: #FFFFFF;
  background: #222;
  border-radius: 8px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  padding: 0px 20px;
  line-height: 0px;
  align-self: center;
  margin-right: 10px;
}

/* Dashboard css */

#main-header{
  display: flex;
  justify-content: space-between;
}

.dash-nav{
  background: #D9D9D9;
  border-radius: 20px;
  align-self: center;
  margin-left: 90px;
  margin-top: 17px;
}

.dash-nav ul{
  display: flex;
  justify-content: center;
  padding: 17px 10px;
  
}

.dash-nav ul li{
  list-style: none;
  margin-right: 50px;
}

.dash-nav ul li a{
  font-family: 'Quicksand';
  text-decoration: none;
  font-size: 30px;
  font-weight: 700;
  line-height: 50px;
  color: #222;
  padding: 10px;
}

.dash-nav ul li a:hover{
  color: #f2a6a6;
}

.dashboard{
  height: 70vh;
  background: url(/img/dashboard_backgroud.png);
  background-repeat: no-repeat;
  background-position: center;
}

.greet{
  text-align: center;
  margin-top: 28vh;
}

.greet h3{
  font-family: 'Bebas';
  font-size: 50px;
  padding-bottom: 10px;
  font-weight: 700;
}

.greet p{
  font-weight: 700;
  letter-spacing: 2px;
}

.dash-footer{
  width: 100%;
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: space-evenly;
  background: #D6CBCB;
  border-radius: 20px;
  padding: 40px 0;
}

.dash-footer p{
  font-weight: 600;
  font-size: 18px;
  color: #000000;
  align-self: center;
}

.footer-btn{
  text-decoration: none;
  color: #222;
  background-color: #D9D9D9;
  padding: 10px 15px;
  font-size: 20px;
  font-weight: 600;
}

/* Profile */

.container .flex{
  justify-content: space-between;
  margin-top: 50px;
  position: relative;
}

.sub-container-user{
  box-sizing: border-box;
  border-radius: 15px;
  width: 450px;
  height: auto;
  margin-right: 30px;
}

.container .sub-container{
  background-color: #ECE4E4;
  padding: 10px 15px;
  box-sizing: border-box;
  border-radius: 15px;
  width: 450px;
  height: auto;
  margin-right: 20px;
}

.sub-container .arrow, .sub-container-user .arrow{
  display: inline-block;
  width: 20px;
  vertical-align: middle;
  margin-right: 10px;
}

.container .flex h3{
  margin-bottom: 20px;
  text-align: center;
}

.container .flex p{
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 2em;
}

.container .flex .user-info p{
  display: block;
}



.user-info, .user-status{
  background: #ECE4E4;
  padding: 10px 15px;
  box-sizing: border-box;
  border-radius: 15px;
  margin-bottom: 30px;
}

.user-info .user-img{
  width: 150px;
  margin-bottom: 40px;
  margin-left: 20px;
  margin-top: 30px;
}

.user-info{
  padding-bottom: 20px;
}

.user-status{
  padding-bottom: 50px;
  height: 300px;
  margin-bottom: 0px;
}

.pro-back-btn{
  position: absolute;
  right: 230px;
  bottom: -30px;
  background: #793939;
  padding: 12px 25px;
  text-align: center;
  border-radius: 25px;
}

.pro-back-btn a{
  text-decoration: none;
  color: #fffefe;
  font-weight: 700;
  font-size: 20px;
  
}

.pro-back-btn:hover{
  background-color: rgb(163, 72, 72);
  cursor: pointer;
}

.footer{
  width: 100%;
  position: absolute;
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
  background: #D6CBCB;
  border-radius: 20px;
  padding: 40px 0;
}

.footer p{
  font-weight: 600;
  font-size: 18px;
  color: #000000;
  align-self: center;
}